html, body {
    height: 100%; /* set the height of the html and body elements to 100% */
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }

a {
    text-decoration: none;
    color: #d1fae5;
    display: flex;
    align-items: flex-end;
}

img {
    width: 30px;
    height: 30px;
}
input {
    border-radius: 15px;
    border-width: 0px;
    background-color: #d1d5db;
    padding: 5px 7px;
    outline:  none;
}
input:focus {
    border-width: 0.5px;
    border-style:solid;
    border-color: #d1d5db;
}

button {
    border-radius: 25px;
    outline: none;
    border-style: none;
    padding: 10px 25px;
    background-color: #047857;
    color: #d1fae5;
    font-weight: bold;
}
button:hover {
    cursor: pointer;
}


.headerimage {
    width: 50px;
    height: 50px;
    vertical-align: middle;
    border-radius: 50%;
}

.svg-icon {   
    /*  to change svg color 2ways  
    1.edit svg fill:#fff in <path> 
    2.use this https://codepen.io/sosuke/pen/Pjoqqp */
    filter: invert(93%) sepia(11%) saturate(496%) hue-rotate(88deg) brightness(102%) contrast(96%);
}  

.link-text {
    
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    box-sizing: border-box;
}
/*  */
.sidebar {
    background-color: #047857;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 70px 2fr 3fr;
    justify-content: center;
    align-items: start;
    padding-top: 15px;
}



.bar1 {
    display: grid;
    gap: 15px;

}

.bar2 {
    display: grid;
    gap: 15px;
}
/*  */
.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    align-items: center;
    padding-left: 20px;
}
.header .searchPart {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-right: 50px;
}
.header .searchPart input {
    flex: 1;
}

.header > .ringPart {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
}

.header > .hiPart {
    display: flex;
    align-items: center;
    gap: 15px;
}

.header .hiPart .name {
    font-size: 30px;
    font-weight: bold;
}

.header .buttonPart {
    display: flex;
    gap: 15px;
    padding-left: 100px;
}


/*  */
.main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: #d1d5db;
    gap: 15px;
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.1) inset; 
    /* https://www.cssmatic.com/box-shadow */
}

.projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: max-content 1fr;

}

.projects > .card {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
    gap: 15px;
}

.item {
    background-color: white; 
}

.card >.item {
    border-radius: 8px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
    display: grid;
    grid-template-rows: max-content 1fr;
    border-left: 8px solid #047857;
}



.announcements {
    grid-area: 1/2/2/3;
    display: grid;
    grid-template-rows: max-content 1fr 1fr 1fr ;
}
.announcements > .a1 {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;   
}
.announcements > .item {
    box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.05);
}
.announcements > .a3 {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);
}


.trending {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-rows: max-content 1fr 1fr 1fr 1fr;
}
.trending > div:nth-of-type(1){
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;   

}

.trending > div:nth-last-child(1) {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 2px 2px 0px 0px rgba(0,0,0,0.05);

}

.trending > .item {
    box-shadow: 2px 0px 0px 0px rgba(0,0,0,0.05);
}