html, body {
    height: 100%; /* set the height of the html and body elements to 100% */
    margin: 0;
  }

a {
    text-decoration: none;
    color: #d1fae5;
}
.container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    box-sizing: border-box;
}
/*  */
.sidebar {
    background-color: #047857;
    color: #d1fae5;
    grid-area: 1 / 1 / 3 / 2;
    display: grid;
    grid-template-rows: 1fr 3fr 3fr;

}

.bar1 {
    display: grid;

}

.bar2 {
    display: grid;
}
/*  */
.header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
}
/*  */
.main {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-area: 1/1/3/2;
    display: grid;
    grid-template-rows: max-content 1fr;
}

.projects > .card {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(500px,1fr));
}

.announcements {
    grid-area: 1/2/2/3;
    display: grid;
}

.trending {
    grid-area: 2/2/3/3;
    display: grid;
}